.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: rgb(165, 165, 115);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color: rgb(146, 60, 196);
    color: black;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body{
    padding-top: 50px;
    z-index: 0;
}

.navbar-dark {
    background-color: rgb(101, 11, 185);
}

.tab-content {
    margin-left: 2px solid black;
    margin-right: 2px solid black;
    margin-bottom: 2px solid black;
    padding: 10px;
}

.carousel {
    background-color: blueviolet;
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 300px;
}

#button {
    position: absolute;
    right: 0px;
    bottom: 0px;
}